<section class="comments" id="comments">
    <section class="previous-comments">
            <h3>Comments</h3>
    {{#get_comments}}
    <article class="comment {{cycle}}" id="comment-{{id}}">
        <header>
            <p><span class="highlight">{{user}}</span> commented <time datetime="{{created}}">{{created}}</time></p>
        </header>
        <p>{{comment}}</p>
         </article>
    {{/get_comments}}
    {{^get_comments}}
        <p>There are no comments for this post. Be the first to comment...</p>
    {{/get_comments}}
    </section>
    {{<comments/form_add}}
</section>
