{{>status}}
<table id="comments_table">
    <tr>
        <td>CommentID</td>
        <td>BlogID</td>
        <td>User</td>
        <td>Comment</td>
        <td>Approved</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    {{#comments}}
        <tr>
            <td>{{id}}</td>
            <td>{{blog_id}}</td>
            <td>{{user}}</td>
            <td>{{comment}}</td>
            <td><select name="approved" id="approved_select">
                {{{approved}}}
            </select>
            </td>
            <td><a href="{{editURL}}">Edit</a></td>
            <td><a href="{{deleteURL}}">Delete</a></td>
        </tr>
    {{/comments}}
</table>
{{{pagination}}}