<section class="section">
    <header>
        <h3>{{__search}}</h3>
    </header>
    {{#search_form}}
        {{{.}}}
    {{/search_form}}
</section>
<section class="section">
    <header>
        <h3>{{__tag_cloud}}</h3>
    </header>
<p class="tags">
    {{#tags}}
        <span class="weight-{{weight}}">{{name}}</span>
    {{/tags}}

    {{^tags}}
        <p>{{__no_latest_tags}}</p>
    {{/tags}}
    </p>
</section>
<section class="section">
    <header>
        <h3>{{__latest_comments}}</h3>
    </header>
    {{#latest_comments}}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{user}}</span> {{__commented_on}}

                    <a href="{{url}}#comment-{{id}}">
                        {{title}}
                    </a>
                    [<em>
                        <time datetime="{{created}}">{{created}}</time>
                    </em>]
                </p>
            </header>
            <p>{{comment}}</p>
            </p>
        </article>
    {{/latest_comments}}
    {{^latest_comments}}
        <p>{{__no_latest_comments}}</p>
    {{/latest_comments}}
</section>