{{#blogs}}
        <article class="blog">
            <div class="date"><time datetime="{{created}}">{{created}}</time></div>
            <header>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>

            <div class="snippet">
                <p>{{blog}}</p>
                <p class="continue"><a href="{{url}}">{{__continue_reading}}...</a></p>
            </div>
            <footer class="meta">
                <p>{{__comments}}: <a href="{{url}}#comments">{{comments}}</a></p>
                <p>{{__posted_by}} <span class="highlight">{{author}}</span> {{__date_at}} {{created}}</p>
                <p>{{__tags}}: <span class="highlight">{{tags}}</span></p>
            </footer>
        </article>
{{/blogs}}
{{^blogs}}
        <p>There are no blog entries for symblog</p>
{{/blogs}}

{{{pagination}}}